<div class="container">
  <div class="row">
    <div class="col-xl-">
      <div class="card h-100">
        <div class="card-body">
          <h6 class="card-title ">
            <a href="#">/subreddit</a><span class="text-muted"> posted by</span>
          </h6>
          <h4 class="card-subtitle">Card subtitle</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
            euismod odio, gravida pellentesque urna varius vitae.
          </p>
          <a href="#"
            ><img class="card-img-top" src="http://placehold.it/700x400" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
