<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Gaddit</title>
    
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <h1>User index page</h1>
    <ul>
      <% for(let i = 0; i < users.length; i++){ %>
      <li>
        <a href="/users/<%=users[i].id;%>">
          <%=users[i].username; %>
        </a>
      </li>
      <% } %>
    </ul>
    <h2>Please </h2>
          <a class="waves-effect waves-light btn" href="#">Sign Up</a></h2>
          <h3>or</h3>
          <a class="waves-effect waves-light btn" href="#">Log In</a>
  </body>
</html>
