<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Gaddit</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <h1>New post Page</h1>
    <form action="/posts" method="POST">
      Poster: <%= currentUser.username %>
      <input type="hidden" name="poster" value="<%=currentUser._id%>" /><br />
      Title: <input type="text" name="title" /><br />
      Sub: <input type="text" name="sub" /><br />
      Image:
      <input type="url" placeholder="direct imgur link" name="img" /><br />
      Content: <input type="text" name="price" /><br />

      <input type="submit" value="Create post" />
    </form>
  </body>
</html>
